*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka';
  color: rgb(255, 255, 255);
  background-color: black;
}

.container-main {
  width: 60%;
  min-width: 500px;
  height: 1200px;
  background-color: black;
  margin: auto;
}
/* Start header  */
header {
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  padding: 40px;
  color: rgb(228, 42, 109) ;
}

header p {
  font-size: 1.3rem;
  padding-bottom: 80px;
}
/* End header  */
.clearfix {
  display: table;
  content: "";
  clear: both;
}
/* Start generic card style */
.card {
  width: calc((100% - 120px) / 3);
  background-color: rgb(255, 255, 255);
  float: left;
  color: rgb(0, 0, 0);
  line-height: calc(125px / 3);
  vertical-align: middle;
  margin: 0 10px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px  rgba(255, 255, 255, 0.637);
}
.card:hover {
  box-shadow: 3px 3px  rgb(228, 42, 109)
}
.card img {
float: left;
height: 125px;
margin-right: 10px;
border-radius: 10px;
}
.card h3 {
text-transform: uppercase;
font-size: 1.2;
}
.card span {
  display: block;
  font-size: 1.2rem;
}
.card a:last-child{
  text-decoration: none;
  color: rgb(228, 42, 109);
}
.card a:last-child::after {
  content: "@team.com";
}
.card a:hover {
  color: rgb(0, 17, 255);
  text-decoration: underline;
}
/* End generic card style */
main {
margin-bottom: 100px;
margin: auto;
}
/* Start Footer Style  */
footer {
  font-size: 1.5rem;
  width: 100%;
  margin: auto;
  text-align: center;
}
/* End Footer Style  */
footer p a{
  text-decoration: none;
  color: rgb(228, 42, 109);
}
